# Faster R-CNN with Resnet-50 (v1), configuration for MSCOCO Dataset.
# Users should configure the fine_tune_checkpoint field in the train config as
# well as the label_map_path and input_path fields in the train_input_reader and
# eval_input_reader. Search for "PATH_TO_BE_CONFIGURED" to find the fields that
# should be configured.

model {
  faster_rcnn {
    num_classes: 105
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 300
        max_dimension: 600
      }
    }
    feature_extractor {
      type: 'faster_rcnn_inception_resnet_v2'
      first_stage_features_stride: 8
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
		width: 32
		height: 32
        scales: [0.25, 0.5, 0.75, 1.0, 1.75, 4.0, 8.0]
# corresponds to:   8,  16,   24,  32,   56, 128, 256 pixels  
        aspect_ratios: [0.06, 0.29, 0.48, 2.2]
        height_stride: 4
        width_stride: 4
      }
    }
	
	# 											  for 600x600     for 600x300		approximated by
# 	 [ 0.01736659  0.2259297 ]    Ratio: 0.0769 = 10x136px        10x10px			-> 0.06
# 	 [ 0.02356003  0.4092184 ]]   Ratio: 0.0576 = 14x246px        73x130px			-> 0.06
# 	 [ 0.12179633  0.43443467]    Ratio: 0.2804 = 73x261px        10x68px			-> 0.29
# 	 [ 0.05862684  0.198219  ]    Ratio: 0.2958 = 35x119px        249x55px			-> 0.29
# 	 [ 0.03988157  0.08885049]    Ratio: 0.4489 = 24x53px         35x59px			-> 0.48	
# 	[[ 0.01727629  0.03426789]    Ratio: 0.5042 = 10x21px         42x10px			-> 0.48
# 	 [ 0.07046833  0.0327817 ]    Ratio: 2.1496 = 42x20px         118x27px			-> 2.2
# 	 [ 0.19673273  0.09099376]    Ratio: 2.1620 = 118x55px        24x27px			-> 2.2
# 	 [ 0.41419803  0.1844077 ]    Ratio: 2.2461 = 249x111px       14x123px			-> 2.2

# 	Meaningful sizes that approximate the above dimensions: 256, 128, 64, 32, 16, 8
# Sizes:
# [10.365776770143077,
#  10.41995475317168,
#  14.136017380696883,
#  19.669019143413621,
#  20.560731077781703,
#  23.928944653308392,
#  35.176106510822699,
#  42.280995457494093,
#  53.310292141755411,
#  54.596258263123808,
#  73.077797433547261,
#  110.64462177121791,
#  118.03964095917073,
#  118.93139945674609,
#  135.55781856135283,
#  245.53103948772693,
#  248.51881549815542,
#  260.66080201649913]
	
    first_stage_atrous_rate: 2
    first_stage_box_predictor_conv_hyperparams {
      op: CONV
      regularizer {
        l2_regularizer {
          weight: 0.0
        }
      }
      initializer {
        truncated_normal_initializer {
          stddev: 0.01
        }
      }
    }
    first_stage_nms_score_threshold: 0.0
    first_stage_nms_iou_threshold: 0.7
    first_stage_max_proposals: 300
    first_stage_localization_loss_weight: 2.0
    first_stage_objectness_loss_weight: 1.0
    initial_crop_size: 17
    maxpool_kernel_size: 1
    maxpool_stride: 1
    second_stage_box_predictor {
      mask_rcnn_box_predictor {
        use_dropout: false
        dropout_keep_probability: 1.0
        fc_hyperparams {
          op: FC
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
      }
    }
    second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.0
        iou_threshold: 0.6
        max_detections_per_class: 100
        max_total_detections: 300
      }
      score_converter: SOFTMAX
    }
    second_stage_localization_loss_weight: 2.0
    second_stage_classification_loss_weight: 1.0
  }
}

train_config: {
  batch_size: 1
  optimizer {
    momentum_optimizer: {
      learning_rate: {
        manual_step_learning_rate {
          initial_learning_rate: 0.0003
          schedule {
            step: 0
            learning_rate: .0003
          }
          schedule {
            step: 70000
            learning_rate: .00003
          }
          schedule {
            step: 100000
            learning_rate: .000003
          }
        }
      }
      momentum_optimizer_value: 0.9
    }
    use_moving_average: false
  }
  gradient_clipping_by_norm: 10.0
  fine_tune_checkpoint: "C:/Users/Alex/Repositories/MusicObjectDetector-TF/MusicObjectDetector/data/faster_rcnn_inception_resnet_v2_atrous_coco_2017_11_08/model.ckpt"
  from_detection_checkpoint: true
  # Note: The below line limits the training process to 200K steps, which we
  # empirically found to be sufficient enough to train the pets dataset. This
  # effectively bypasses the learning rate schedule (the learning rate will
  # never decay). Remove the below line to train indefinitely.
  num_steps: 120000
  # data_augmentation_options {
  #   random_horizontal_flip {
  #   }
  # }
}

train_input_reader: {
  tf_record_input_reader {
    input_path: "C:/Users/Alex/Dropbox/MusicObjectDetector-TF_Records/all_classes_with_staff_lines_writer_independent_split/training.record"
  }
  label_map_path: "C:/Users/Alex/Repositories/MusicObjectDetector-TF/MusicObjectDetector/mapping.txt"
}

# VALIDATION

eval_config: {
  metrics_set: "pascal_voc_metrics"
  # metrics_set: "weighted_pascal_voc_metrics"
  num_examples: 488
  # Note: The below line limits the evaluation process to 10 evaluations.
  # Remove the below line to evaluate indefinitely.
  # max_evals: 1
}

eval_input_reader: {
  tf_record_input_reader {
    input_path: "C:/Users/Alex/Dropbox/MusicObjectDetector-TF_Records/all_classes_with_staff_lines_writer_independent_split/validation.record"
  }
  label_map_path: "C:/Users/Alex/Repositories/MusicObjectDetector-TF/MusicObjectDetector/mapping.txt"
  shuffle: false
  num_readers: 1
  num_epochs: 1
}

# # TESTING
# 
# eval_config: {
#   # metrics_set: "pascal_voc_metrics"
#   metrics_set: "weighted_pascal_voc_metrics"
#   num_examples: 847
#   # Note: The below line limits the evaluation process to 10 evaluations.
#   # Remove the below line to evaluate indefinitely.
#   max_evals: 1
# }
# 
# eval_input_reader: {
#   tf_record_input_reader {
#     input_path: "C:/Users/Alex/Dropbox/MusicObjectDetector-TF_Records/all_classes_with_staff_lines_writer_independent_split/test.record"
#   }
#   label_map_path: "C:/Users/Alex/Repositories/MusicObjectDetector-TF/MusicObjectDetector/mapping.txt"
#   shuffle: false
#   num_readers: 1
#   num_epochs: 1
# }
# 